html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: $bg-color;
  outline-color: $primary-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Add margin on left and right sides
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

// Disables scrolling
.no-scroll {
  overflow: hidden;
}

// Container that allows for horizontal scrolling
.h-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

// Dark overlay add when modal is on
.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  padding: 2rem;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 700px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

// Panel that holds content
.main-content {
  min-height: 700px;
  height: calc(100vh - 12rem);
  min-width: 1000px;
  width: 95%;
  margin: 4rem auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.error-content {
  min-height: 4rem;
  height: auto;
  padding: 1rem;
  color: $error-color;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;

  p {
    margin: 0;
  }
}

// Change input styling
input {
  height: 2.75rem;
  font-weight: 300;
  font-size: 1rem;
  color: $secondary-color;
  border-radius: 0.5rem;
  border: 1px solid $primary-color;
  box-shadow: none;
  padding: 0.75rem;
  transition: box-shadow 0.1s ease-out;

  // For submit buttons
  &[type="submit"] {
    grid-column: 2;
    justify-self: end;
    align-self: end;
    border: 2px solid $cta-color;
    border-radius: 1rem;
    background-color: $cta-color;
    color: $bg-color;
    font-weight: 700;
    width: 15rem;
    cursor: pointer;
    transition: color 80ms ease-out, background-color 80ms ease-out;

    &:hover {
      background-color: white;
      color: $cta-color;
    }
  }

  // Change default focus styling on input elements
  &[type="text"]:focus,
  &[type="url"]:focus,
  &[type="submit"]:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($color: $primary-color, $alpha: 0.4);
  }

  &[type="text"]:not(:placeholder-shown),
  &[type="url"]:not(:placeholder-shown) {
    color: $primary-color;
    font-weight: 400;
  }

  &[type="range"] {
    padding-left: 0;
    padding-right: 0;
  }
}

textarea {
  position: relative;
  height: 5rem;
  font-weight: 300;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  color: $secondary-color;
  border-radius: 0.5rem;
  border: 1px solid $primary-color;
  box-shadow: none;
  padding: 0.75rem;
  transition: box-shadow 0.1s ease-out;

  &:not(:placeholder-shown) {
    color: $primary-color;
    font-weight: 400;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($color: $primary-color, $alpha: 0.4);
  }
}

::placeholder {
  color: $secondary-color;
}
