.header {
  background-color: $secondary-color;
  height: 4rem;
}

.main-nav {
  height: 100%;

  &__items {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0.2rem;
      transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;

      &:not(:first-child) {
        margin-left: 2rem;

        &:hover {
          color: $selected-color;
          transform: scale(1.1);
        }
      }
    }

    a {
      text-decoration: none;
      color: inherit;

      &.main-nav__items--logo {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
