.header {
  background-color: $secondary-color;
  height: 4rem;
}

.main-nav {
  height: 100%;

  &__items {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $bg-color;
    user-select: none;

    li {
      padding: 0.2rem;
      transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;

      &:not(:first-child) {
        margin-left: 2rem;

        &:hover {
          color: $selected-color;
          // transform: scale(1.1);
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        position: relative;

        // Active link styling
        &.active {
          font-weight: 700;
          color: $primary-color;

          &::after {
            content: "";
            position: absolute;
            bottom: calc(-1.5rem + 0.2rem / 2);
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 0.2rem;
            background-color: $primary-color;
          }
        }

        &.main-nav__items--logo {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}
